/*
*   Styles for Responsive Registration Form
*   Treehouse Techdegree Certificate
*   03/06/2017
*/


@media only screen and  (min-width: 768px) {

    /*************************
    ***** Structural Styles ***
    **************************/

    .container {
        max-width: 600px;
    }

    .form-control-zip label, .form-control label {
        display: inline-block;
        width:29%;

    }

    .form-control select, .form-control input {
        max-width:69%;
    }

    .form-control-zip input {
        max-width:20%;
    }






    /**********************************
    **** Contact Form Section  ********
    **********************************/
    

    .zip {
        max-width: 25%;
    }
}
