/*
*   Styles for Responsive Registration Form
*   Treehouse Techdegree Certificate
*   03/06/2017
*/

/*************************
*******Typography******
**************************/

* {
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    color:#617383
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}



legend {
    font-weight: bold;
}


/*************************
***** Structural Styles ***
**************************/

ul li {
    list-style: none;
}

a {
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms;
    text-decoration: none;

}


i:hover, a:hover {
    outline: none;
    text-decoration:none;
}

.container {
    max-width:90%;
    margin:0 auto;
}

.center {
    text-align: center;
}


/**********************************
**** Header & Navigation Styles ***
**********************************/

header {
    background-color: #2d3945;
}

header h3 {
    color:white;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    margin:0;
    padding:1.4rem;
}

/**********************************
**** Sign Up Text Section  ********
**********************************/

.sign-up-text {
    padding-bottom: 1rem;
    border-bottom: 4px solid #2d3945;
}

.sign-up-text h3 {
    text-align:center;
    margin:20px 0 10px;
}

.sign-up-text p {
    color: #aaafb4;
    padding:0 15px;
    margin-top:5px;
    text-align:center;
}


/**********************************
**** Contact Form Section  ********
**********************************/
.sign-up-form {
    margin-top: -7px;
}


.contact-form {
    margin-top:10px;
    border-top:2px solid #2d3945;
    padding-top: 25px;
    padding-bottom: 20px;
}


fieldset {
    border:none;
    padding:0;

}

fieldset:last-of-type {
    background-color:rgba(50,153,187,0.1);
    border-radius: 5px;
    padding:1rem 0.8rem;
}

.contact-form fieldset:first-of-type {
    padding-bottom: 1.5rem;
    border-bottom: 2px solid #2d3945;
}

.contact-form fieldset:last-of-type {
    position:relative;
}

.contact-form legend {
    font-size:1.2rem;
}

.contact-form legend:first-of-type {
    margin-bottom:1.3rem;
}

.contact-form label {
    display: block;
    margin-top:10px;
}


.newsletter-section textarea, .contact-form select, .contact-form input {
    margin-top: 10px;
    margin-bottom:15px;
    border-radius:5px;
    padding:15px 8px;
    width: 100%;
    background-color: #eeeeee;
    border:none;
    transition: all 1s ease;
}
.contact-form select {
    color:#7b7b7b;
}



.newsletter-section textarea:focus, .contact-form select:focus, .contact-form input:focus {
    background-color:#d7d6d6;
    border:1px solid #000;
    outline: none;
    transition: all 0.9s ease;
}


.contact-form textarea::-webkit-input-placeholder, .contact-form input::-webkit-input-placeholder
{
    font-style: italic;
    text-align:right;
    font-size:0.9rem;
}

.contact-form textarea::-moz-placeholder,.contact-form input::-moz-placeholder {
    font-style: italic;
    text-align:right;
    opacity:1;
}

.contact-form textarea:-ms-input-placeholder, .contact-form input:-ms-input-placeholder { /* IE 10+ */
    font-style: italic;
    text-align:right;

}

.contact-form input::-moz-placeholder {
    text-align: left;
}

.contact-form textarea::-webkit-input-placeholder
{
    text-align: left;
}

.contact-form textarea:-ms-input-placeholder {
    text-align: left;
}

.zip {
    max-width:35%;
}

.newsletter-heading {
    padding-top:4.5rem;
}


.contact-form input[type="checkbox"], .contact-form input[type="radio"] {
    width:auto;
}

.newsletter-options {
    position:relative;
}


.newsletter-options label {
    position:absolute;
    top:-2px;
    left:20px;
}

.newsletter-section > label {
    padding-left:25px;
}

.newsletter-section > label:first-of-type {
    padding:0;
    margin-bottom:20px;
}

.format-section {
    margin-top: 25px;
}

.newsletter-section > .topic-label {
    margin:15px 0;
    padding:0;
}

.btn-signup {
    display:block;
    margin:20px 0;
    padding:20px 10px;
    width: 100%;
    background-color: #4ebbb5;
    box-shadow: none;
    border: 0;
    border-radius: 5px;
    color:white;
    font-weight: bold;
    font-size:1.1rem;
    cursor: pointer;
}

.btn-signup:hover {
    background-color: #58d1ca;
}

.contact-form p:last-of-type {
    font-style: italic;
    font-size:0.9rem;
}

